@charset "UTF-8";
@font-face {
  font-family: 'THSarabunNew';
  src: url("/credit_note_qweb/static/fonts/THSarabunNew.ttf") format("truetype");
}

    .o_credit_notes_from {
    font-family: 'THSarabunNew';
    font-size: 24px;
    }

    .o_credit_notes_from .number_invoice {
        font-size: 24px;
        position: fixed;
        top: 137px;
        right: 140px;
    }

    .o_credit_notes_from .company_vat {
        font-size: 24px;
        position: fixed;
        top: 525px;
        left: 235px;
    }

    .o_credit_notes_from .company_name {
        width: 50%;
        font-size: 24px;
        position: fixed;
        top: 560px;
        left: 235px;
    }

    .o_credit_notes_from .company_address {
        width: 100%;
        font-size: 24px;
        position: fixed;
        top: 595px;
        left: 235px;
    }

    .o_credit_notes_from .company_address2 {
        width: 100%;
        font-size: 24px;
        position: fixed;
        top: 627px;
        left: 235px;
    }

    .o_credit_notes_from .company_address3 {
        font-size: 24px;
        position: fixed;
        top: 658px;
        left: 235px;
    }


    .o_credit_notes_from .invoice_date_cr {
        font-size: 24px;
        position: fixed;
        top: 520px;
        right: 110px;
    }

    .o_credit_notes_from .payment_terms {
        font-size: 24px;
        position: fixed;
        top: 558px;
        left: 950px;
    }

    .o_credit_notes_from .due_date {
        font-size: 24px;
        position: fixed;
        top: 590px;
        right: 110px;
    }

    .o_credit_notes_from .total_amount {
        font-size: 24px;
        font-weight: bold;
        position: fixed;
        top: 1078px;
        right: 30px;
    }

    .o_credit_notes_from .amount_vat {
        font-size: 24px;
        font-weight: bold;
        position: fixed;
        top: 1143px;
        right: 30px;
    }

    .o_credit_notes_from .grand_total {
        font-size: 24px;
        font-weight: bold;
        position: fixed;
        top: 1210px;
        right: 30px;
    }

    .o_credit_notes_from .text_total {
        width: 48%;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        position: fixed;
        top: 1300px;
        left: 400px;
    }

    .o_credit_notes_from .bank_number {
    font-size: 24px;
    position: fixed;
    top: 1155px;
    left: 270px;
    }

    .o_credit_notes_from .bank_name {
    font-size: 24px;
    position: fixed;
    top: 1190px;
    left: 130px;
    }

    .o_credit_notes_from .name_bank {
    font-size: 24px;
    position: fixed;
    top: 1225px;
    left: 290px;
    }


